body {
    font-family: 'Montserrat', sans-serif;
    background: #e9e0e0;
    margin: 0;
    padding: 40px 0;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    width: 700px;
    box-sizing: border-box;
    border: none;
}

h1 {
    text-align: center;
    color: #1B4D2E;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 2.5em;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #1B4D2E;
    font-weight: 600;
    font-size: 16px;
}

input[type="text"], select {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 25px;
    border: 2px solid #C4822F;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-family: 'Montserrat', sans-serif;
    color: #1B4D2E;
}

input[type="text"]:focus, select:focus {
    border-color: #1B4D2E;
    box-shadow: 0 0 8px #1B4D2E;
    outline: none;
}

button[type="submit"] {
    width: 100%;
    background-color: #1B4D2E;
    color: white;
    border: none;
    padding: 16px 0;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 15px rgba(27, 77, 46, 0.6);
}

button[type="submit"]:hover {
    background-color: #14501f;
    box-shadow: 0 8px 20px rgba(20, 80, 31, 0.8);
}

a button {
    margin-top: 15px;
    width: 100%;
    background-color: #C4822F;
    border: none;
    padding: 16px 0;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 15px rgba(196, 130, 47, 0.6);
}

a button:hover {
    background-color: #a66f1f;
    box-shadow: 0 8px 20px rgba(166, 111, 31, 0.8);
}
.logo-container {
    display: block;
    margin: 20px auto 0 auto;
    max-width: 150px;
    text-align: center;
}

.logo-container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

